<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ASP.NET MVC  and Vue.js Integration</title>

    <link href="~/vuejs/app.js" rel=preload as=script>
    <link href="~/vuejs/js/chunk-vendors.js" rel=preload as=script>
</head>
<body>
    <div id="app">
        <h1>ASP.NET MVC  and Vue.js Integration</h1>
    </div>

    <script src="~/vuejs/js/chunk-vendors.js"></script>
    <script src="~/vuejs/app.js"></script>
</body>
</html>